#menuBtn {
  position: fixed;
  right: 16px;
  top: 16px;
}

#menu {
  position: fixed;
  display: none;
  top: 52px;
  right: -300px;
}

#wgl {
  margin: 12px;
  overflow: hidden;
}

#loading {
  width: 300px;
  margin: 200px auto;
}

// page design
#page {
  margin: 12px;
}
